html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 182px;
  height: 175px;
}

body {
  min-width: 1170px;
  font-family: 'font', sans-serif;
}

.wrapper {
  width: 80%;
  max-width: 720px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.site-container {
  width: 1170px;

  margin: 0 auto;
}

.header-container {
  flex-direction: row;
  max-width: 1170px;

  background-color: black;
  color: white;
}

.img-header {
  width: 182px;
  height: 190px;
  align-items: center;
  margin: 20px 60px 60px 100px;
}

.header-title-info {
  flex-direction: column;
  justify-content: space-between;
}

.header-text-block {
  height: 36.8px;
  padding: 10px;
  background-color: rgb(40, 38, 45);
  font-size: 20px;

}

.header-contact {
  flex-direction: row;
  align-items: stretch;
  justify-content: left;
  padding: 0;
  margin: 0;
  color: #C3BFBF;
}

.contacts-item-caption {
  text-align: left;
}

/* .header-title-info {
    flex-direction: column; */
}

.header-user {
  width: 100%;
  margin-right: auto;
}

.years {
  display: block;
  margin-bottom: 20px;
}

.section-left {
  width: 182px;
  margin-left: 100px;
  margin-right: 58px;
  padding: 20px 10px 20px 10px;
  background-color: #D4D3D5;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
}

.section-education-list {
  flex-direction: column;
  justify-content: space-between;
}

.education-item {
  margin-bottom: 20px;
  font-size: 14px;
  color: #575151;
}

.section-hobby-list {
  flex-direction: column;
  justify-content: space-between;
}

.hobby-item {
  margin-bottom: 20px;
  font-size: 14px;
  color: #575151;
}

.svg-item {
  margin-right: 10px;
}

.main-container {}


.section-right {
  flex-direction: column;
  padding: 20px 10px 20px 10px;
}

.top-right-block {
  margin-bottom: 20px;
}

.link-my-work {
  margin-bottom: 20px;
}

.img-car-item {
  width: 200px;
  height: 300px;
}

.section-skills-list {
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-item {
  justify-content: space-between;
  width: 275px;
  margin-bottom: 20px;
}

.level-svg {
  display: inline-block;
  /* margin-left: 80px; */
}